h1{
    color: blue;
}
h2{
    color: green;
}
p{
    color: blueviolet;
}
h3{
    color: brown;
}
h4{
    color: coral;
}
#encabezado-seis{
    color: cornflowerblue;
}
.text-danger{
    color: crimson;
}
.centro-regional{
    color: green;
}
body{
    background-color: aquamarine;
}